/* Container for the entire dashboard */
.dashboard-container {
    display: grid;
    grid-template-columns: 3fr 1fr;
    gap: 20px;
    padding: 20px;
    background-color: #eef2f3;
    max-width: 1200px;
    margin: auto;
}

/* Top section with fine counter and license button */
.top-section {
    display: flex;
    justify-content: space-between;
    align-items: center;;
    padding: 20px;
    border-radius: 15px;
}

/* Fine Counter */
.fine-counter {
    background-color: white;
    padding: 30px 20px;
    border-radius: 15px;
    text-align: center;
    box-shadow: 0 4px 6px rgba(0, 0, 0, 0.1);
    flex: 1;
    margin-right: 5px;
}

.fine-counter p {
    font-size: 1rem;
    color: #6c757d;
}

.fine-counter h1 {
    font-size: 2.5rem;
    color: #4a7d8a;
    margin-top: 10px;
}

/* Add Driving License Button */
.content {
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: white;
    padding: 30px;
    border-radius: 15px;
    box-shadow: 0 4px 6px rgba(0, 0, 0, 0.1);
}

.license-btn {
    background-color: #ffba8a;
    color: white;
    padding: 15px 20px;
    border: none;
    border-radius: 10px;
    font-size: 1.2rem;
    cursor: pointer;
    box-shadow: 0 4px 6px rgba(0, 0, 0, 0.1);
}

/* Fine History Section */
.fine-history {
    grid-column: span 2;
    background-color: white;
    padding: 20px;
    border-radius: 15px;
    box-shadow: 0 4px 6px rgba(0, 0, 0, 0.1);
}

.fine-history h2 {
    font-size: 1.8rem;
    margin-bottom: 15px;
}

.history-item {
    display: grid;
    grid-template-columns: 2fr 1fr 1fr;
    align-items: center;
    background-color: #f9fafb;
    padding: 15px 20px;
    margin-bottom: 10px;
    border-radius: 10px;
    text-decoration: none;
    color: black;
    box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
}

.history-item h3 {
    margin: 0;
    font-size: 1.2rem;
    font-weight: bold;
}

.history-item span.amount {
    font-weight: bold;
    color: #4a7d8a;
    justify-self: end;
}

/* Traffic Alerts Section */
.traffic-alerts {
    background-color: white;
    padding: 20px;
    border-radius: 15px;
    box-shadow: 0 4px 6px rgba(0, 0, 0, 0.1);
}

.traffic-alerts h2 {
    font-size: 1.8rem;
    margin-bottom: 15px;
}

.traffic-alerts ul {
    list-style-type: none;
    padding: 0;
}

.traffic-alerts li {
    margin-bottom: 10px;
}

