body {
    background-color: #d8e3e7;
}
.form-container {
    margin: 50px auto;
    max-width: 700px;
    padding: 30px;
    background-color: #ffffff;
    border-radius: 10px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
}
.footer {
    background-color: #f8f9fa;
    padding: 20px;
    text-align: center;
}
.footer a {
    text-decoration: none;
    margin: 0 10px;
}
